.home-title {
  font-size: clamp(1rem, 4.5vw, 3.5rem);
  font-weight: 700;
}

.home-text {
  font-size: clamp(0.8rem, 3.5vw, 2.0rem);
  font-weight: 300;
}

.card.text-bg-dark {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

.card-img-overlay {
  padding-left: 1rem;
  padding-right: 1rem;
}
